h1 {
    border-width: thick;
    border-style: dotted;
    border-color: gold;
}

h2 {
    border-width: 10px;
    border-style: outset;
    border-color: red;
}

p {
    border-top-width: 3px;
    border-style: dashed;
    border-color: blue;
}